<style>
._3_20 { 
	overflow:hidden;
}
.query-history-container {
    max-height: 200px; /* Set the maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #333; /* Dark grey background color */
    padding: 10px; /* Add padding for better visual appearance */
}

.query-history-scroll {
    overflow-y: auto; /* Enable vertical scrolling within the container */
}
.user-message {
    color: #fff; /* White text color for user messages */
}

.chatbot-message {
    color: #ccc; /* Light grey text color for chatbot messages */
}
.e3_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:982px;
	position:absolute;
}
.e3_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1512px;
	height:982px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_22 { 
    background-color: #ffffff;
    width: 325px;
    height: 63px;
    position: absolute;
    left: 659px;
    top: 650px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center; /* Center the text horizontally */
    display: flex;
    align-items: center; /* Center the text vertically */
}
.e3_23 { 
	background-color:rgba(43.1715240329504, 119.58303362131119, 209.2834523320198, 1);
	width:325px;
	height:63px;
	position:absolute;
	left:659px;
	top:750px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e3_24 { 
	color:rgba(0, 0, 0, 1);
	width:425px;
	height:57px;
	position:absolute;
	left:394px;
	top:711px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e3_25 { 
	color:rgba(0, 0, 0, 1);
	width:380px;
	height:28px;
	position:absolute;
	left:700px;
	top:25px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e3_26 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:57px;
	position:absolute;
	left:774px;
	top:813px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e3_27 { 
	background-color:rgba(134.50586646795273, 134.50586646795273, 134.50586646795273, 1);
	width:296px;
	height:982px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_28 { 
	background-color:rgba(94.01879578828812, 94.01879578828812, 94.01879578828812, 1);
	width:296px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_29 { 
	background-color:rgba(94.01879578828812, 94.01879578828812, 94.01879578828812, 0.6000000238418579);
	width:296px;
	height:89px;
	position:absolute;
	left:0px;
	top:88px;
}
.3_29 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_30 { 
	background-color:rgba(94.01879578828812, 94.01879578828812, 94.01879578828812, 0.6000000238418579);
	width:296px;
	height:88px;
	position:absolute;
	left:0px;
	top:265px;
}
.3_30 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_31 { 
	background-color:rgba(94.01879578828812, 94.01879578828812, 94.01879578828812, 0.6000000238418579);
	width:296px;
	height:88px;
	position:absolute;
	left:0px;
	top:177px;
}
.3_31 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_32 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:159px;
	height:28px;
	position:absolute;
	left:85px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e3_33 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:208px;
	height:28px;
	position:absolute;
	left:40px;
	top:119px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e3_34 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:131px;
	height:28px;
	position:absolute;
	left:117px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e3_35 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:129px;
	height:28px;
	position:absolute;
	left:90px;
	top:295px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}</style>
<div class=e3_20>
    <div class="e3_21"></div>
    <div class="e3_23"></div>
    <span  class="e3_25">Llama2Assist Demo</span>
    <div class="content">
        <!-- 
                   {% if user_input %}
                       <div class="chat-container">
                           <p class="user-message">User: {{ user_input }}</p>
                           <p class="chatbot-message">Chatbot: {{ response }}</p>
                       </div>
                   {% endif %}-->
                   
                   {% if query_history %}
                   <div class="query-history-container">
                       <p>Query History:</p>
                       <div class="query-history-scroll">
                           <ul>
                               {% for entry in query_history %}
                                   <li>
                                       <p class="user-message">User: {{ entry['user_input'] }}</p>
                                       <p class="chatbot-message">Chatbot: {{ entry['response'] }}</p>
                                   </li>
                               {% endfor %}
                           </ul>
                       </div>
                     </div>
                    {% endif %}
       
                   <form action="/submit" method="post">
                       <label for="user_input">Enter a query:</label>
                       <input class ="e3_22" type="text" id="user_input" name="user_input">
                       <button class = "e3_23" type="submit">Submit</button>
                   </form>
       </div>
   
    <div class="e3_27"></div>
    <div class="e3_28"></div>
    <div class="e3_29"></div>
    <div class="e3_30"></div>
    <div class="e3_31"></div><span  class="e3_32">Features</span><span  class="e3_33">Damage Control
  </span><span  class="e3_34">FAQ</span><span  class="e3_35">Doc Chat</span>
</div>


